.layout {
    background-color: #f1f5f9;
}

.nameRol {
    padding: 50px 0 0 80px; 
}
.inputFile {
    max-width: 350px;
}
.border-color{
    border-color: #c4c4c4
}

.filing {
    padding: 20px;
    background-color: white;
    margin: 30px 80px;
}

